/**
 * Start of rtSocial Plugin Style
 */
 
/* Buttons container styles frontend */
.rtsocial-container { overflow: hidden;  padding: 5px 0; clear: both; }
.rtsocial-container p { margin: 0 }
    
.rtsocial-container-align-left { margin: 0 5px 0 0;  text-align: left; }
.rtsocial-container-align-right { margin: 0 0 0 5px; text-align: right; }
.rtsocial-container-align-center { text-align: center }

.rtsocial-container-align-right .rtsocial-twitter-vertical,
.rtsocial-container-align-right .rtsocial-fb-vertical,
.rtsocial-container-align-right .rtsocial-pinterest-vertical,
.rtsocial-container-align-right .rtsocial-linkedin-vertical,
.rtsocial-container-align-right .rtsocial-gplus-vertical,
.rtsocial-container-align-left .rtsocial-twitter-vertical,
.rtsocial-container-align-left .rtsocial-fb-vertical,
.rtsocial-container-align-left .rtsocial-pinterest-vertical,
.rtsocial-container-align-left .rtsocial-linkedin-vertical,
.rtsocial-container-align-left .rtsocial-gplus-vertical,
.rtsocial-container-align-none .rtsocial-twitter-vertical,
.rtsocial-container-align-none .rtsocial-fb-vertical,
.rtsocial-container-align-none .rtsocial-linkedin-vertical,
.rtsocial-container-align-none .rtsocial-gplus-vertical,
.rtsocial-container-align-none .rtsocial-pinterest-vertical { float: left; margin: 0 10px 0 0; overflow: hidden; position: relative; }

.rtsocial-pinterest-vertical { margin-right: 0; }

.rtsocial-container-align-center .rtsocial-twitter-vertical,
.rtsocial-container-align-center .rtsocial-pinterest-vertical,
.rtsocial-container-align-center .rtsocial-gplus-vertical,
.rtsocial-container-align-center .rtsocial-linkedin-vertical,
.rtsocial-container-align-center .rtsocial-fb-vertical { overflow: hidden; display: inline-block; margin: 0 10px 0 0; position: relative; }

.rtsocial-container-align-center .rtsocial-twitter-horizontal,
.rtsocial-container-align-center .rtsocial-gplus-horizontal,
.rtsocial-container-align-center .rtsocial-linkedin-horizontal,
.rtsocial-container-align-center .rtsocial-pinterest-horizontal,
.rtsocial-container-align-center .rtsocial-fb-horizontal { float: none; display: inline-block; margin: 0 10px 0 0; position: relative;min-height:24px; vertical-align: top;}


/*.rtsocial-container-align-none .rtsocial-twitter-vertical,
.rtsocial-container-align-center .rtsocial-twitter-vertical { margin-bottom: 3px }*/

.rtsocial-container-align-none .rtsocial-twitter-vertical,
.rtsocial-container-align-none .rtsocial-fb-vertical { display: inline-block }

#display_vertical .rtsocial-container-align-none .rtsocial-twitter-vertical,
#display_vertical .rtsocial-container-align-none .rtsocial-fb-vertical { }

/*.rtsocial-container-align-left .rtsocial-fb-vertical,
.rtsocial-container-align-right .rtsocial-fb-vertical,
.rtsocial-container-align-none .rtsocial-fb-vertical,
.rtsocial-container-align-center .rtsocial-fb-vertical { margin-right: 10px; }*/

/* 
 * B2W branding styles
 */
 
/*B2WP Image Styling and Ads block */
#btowp_img { margin: 18px 8px 0 0; float: left; vertical-align: bottom; display: inline-block; }
#btowp_title { float: left; display: inline-block; }
#rtsocial_ads_block { width: 30%; }
#rtsocial_ads_block > div { width: 80%; }
#rtsocial_ads_block div.inside { line-height: 18px; }

#b2wr_notice_block > p { font-size: 12px; font-weight: bold; letter-spacing: 0.9px; padding: 0px; }
#b2wr_notice_block span { padding-left: 6px }
.blue_color { color: #21759B !important }
h3.positioning_title { margin: 0 }

/* 
 * Metaboxes styles 
 */

/*Metaboxes container */
div#content_block form { padding-left: 25px }
div#content_block { width: 70% }

/* Metaboxes inner div */
#rtsocial .inside { font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; line-height: 1.2em; }

/* Manual code info style */
#rtsocial .inside span.rtsocial-manual-code { font-style: italic; font-weight: bold; }

/* General alignment classes */
.align_left,
.alignleft { float: left }
.aligncenter { display: block; margin: 0 auto; text-align: center; }
.alignright { float: right }

/* Error message style */
#error_msg { color: #CC0000 }

.template_tag { margin: 5px 0 5px 0; border: #bbb; background-color: #eee; }

/* Facebook button styles metabox styles */
.fb_row input[type='radio'] { margin-right: 5px }
.fb_row img { margin-bottom: -6px; margin-right: 10px; }
.fb_title img { margin-bottom: -6px }

/* Hidden permalink */
.perma-link { display: none }

/* Settings main div */
#rtsocial { width: 100% }
#rtsocial .postbox-container { width: 98% }

/* Horizontal buttons settings */
.rtsocial-display-horizontal { text-align: center }

.rtsocial-fb-horizontal-button,
.rtsocial-twitter-horizontal-button,
.rtsocial-pinterest-horizontal-button,
.rtsocial-linkedin-horizontal-button,
.rtsocial-gplus-horizontal-button,
.rtsocial-fb-icon-button,
.rtsocial-twitter-icon-button,
.rtsocial-linkedin-icon-button,
.rtsocial-gplus-icon-button,
.rtsocial-pinterest-icon-button{ float: left }

.rtsocial-twitter-horizontal,
.rtsocial-fb-horizontal,
.rtsocial-gplus-horizontal,
.rtsocial-pinterest-horizontal,
.rtsocial-linkedin-horizontal,
.rtsocial-twitter-icon,
.rtsocial-fb-icon,
.rtsocial-pinterest-icon,
.rtsocial-linkedin-icon,
.rtsocial-gplus-icon{ margin: 0 10px 0 0; position: relative; display: inline-block; }


/* Counts display styles */
.rtsocial-vertical-count { background: #FFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; height: 37px; margin: 0 auto 5px; max-width: 55px; min-width: 55px; padding: 0; text-align: center; position: relative; }
.rtsocial-horizontal-count {background: #FFF;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; height: 20px; margin: 0 0 0 10px; max-width: 150px; min-width: 30px; padding: 0; text-align: center; position: relative; }
.rtsocial-vertical-count span { display: block; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 16px; font-weight: bold; margin: 6px 3px 5px; height: 70%; overflow: hidden; text-align: center; }
.rtsocial-horizontal-count span { display: block; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; font-weight: bold; line-height: 164%; margin: 0; overflow: hidden; padding: 0 5px; text-align: center; }

.rtsocial-twitter-vertical .rtsocial-vertical-count,
.rtsocial-twitter-horizontal .rtsocial-horizontal-count,
.rtsocial-twitter-icon .rtsocial-horizontal-count,
.rtsocial-linkedin-vertical .rtsocial-vertical-count,
.rtsocial-linkedin-horizontal .rtsocial-horizontal-count,
.rtsocial-linkedin-icon .rtsocial-horizontal-count { border: 1px solid #CFE3F0; }

.rtsocial-twitter-vertical .rtsocial-vertical-count span,
.rtsocial-twitter-horizontal .rtsocial-horizontal-count span,
.rtsocial-twitter-icon .rtsocial-horizontal-count span { color: #0099CC; }

.rtsocial-linkedin-vertical .rtsocial-vertical-count span,
.rtsocial-linkedin-horizontal .rtsocial-horizontal-count span,
.rtsocial-linkedin-icon .rtsocial-horizontal-count span { color: #04558B; }

.rtsocial-fb-vertical .rtsocial-vertical-count,
.rtsocial-fb-horizontal .rtsocial-horizontal-count,
.rtsocial-fb-icon .rtsocial-horizontal-count { border: 1px solid #D3D3D3; }

.rtsocial-fb-vertical .rtsocial-vertical-count span,
.rtsocial-fb-horizontal .rtsocial-horizontal-count span { color: #333333; }

.rtsocial-pinterest-vertical .rtsocial-vertical-count,
.rtsocial-pinterest-horizontal .rtsocial-horizontal-count,
.rtsocial-pinterest-icon .rtsocial-horizontal-count,
.rtsocial-gplus-vertical .rtsocial-vertical-count,
.rtsocial-gplus-horizontal .rtsocial-horizontal-count,
.rtsocial-gplus-icon .rtsocial-horizontal-count{ border: 1px solid #D3D3D3; }

/* Image sprite */
.rtsocial-vertical-notch,
.rtsocial-horizontal-notch,
.rtsocial-fb-button,
.rtsocial-twitter-button,
.rtsocial-pinterest-button,
.rtsocial-linkedin-button,
.rtsocial-gplus-button,
.rtsocial-fb-icon-link,
.rtsocial-twitter-icon-link,
.rtsocial-pinterest-icon-link,
.rtsocial-linkedin-icon-link,
.rtsocial-gplus-icon-link,
#rtsocial-twitter,
#rtsocial-facebook,
#rtsocial-pinterest,
#rtsocial-linkedin,
#rtsocial-gplus,
#rtsocial-like-light,
#rtsocial-like-dark,
#rtsocial-recommend-light,
#rtsocial-recommend-dark,
#rtsocial-share-plain,
#rtsocial-ord-gplus label,
#rtsocial-ord-tw label,
#rtsocial-ord-fb label,
#rtsocial-ord-lin label,
#rtsocial-ord-pin label,
.rt-social-connect a { background: url('../images/rtsocial-sprite-image.png') no-repeat; }

/*Count bubble notches styles */
.rtsocial-vertical-notch { display: block; height: 5px; left: 45%; position: absolute; top: 37px; width: 8px; z-index: 10; }

.rtsocial-fb-vertical .rtsocial-vertical-notch { background-position: -138px -189px }
.rtsocial-pinterest-vertical .rtsocial-vertical-notch { background-position: -138px -189px }
.rtsocial-gplus-vertical .rtsocial-vertical-notch { background-position: -138px -189px }
.rtsocial-twitter-vertical .rtsocial-vertical-notch { background-position: -147px -189px }
.rtsocial-linkedin-vertical .rtsocial-vertical-notch { background-position: -147px -189px }

.rtsocial-horizontal-notch { display: block; height: 7px; left: 63px; margin: 0; position: absolute; top: 7px; width: 5px; z-index: 20; }

.rtsocial-twitter-horizontal .rtsocial-horizontal-notch { background-position: -149px -181px; left: -5px; }
.rtsocial-fb-horizontal .rtsocial-horizontal-notch { background-position: -138px -181px; left: -5px; }
.rtsocial-pinterest-horizontal .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }
.rtsocial-linkedin-horizontal .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }
.rtsocial-gplus-horizontal .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }


.rtsocial-fb-icon .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }
.rtsocial-twitter-icon .rtsocial-horizontal-notch { background-position: -149px -181px; left: -5px; }
.rtsocial-pinterest-icon .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }
.rtsocial-linkedin-icon .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }
.rtsocial-gplus-icon .rtsocial-horizontal-notch{ background-position: -138px -181px; left: -5px; }

.rtsocial-container .fb-dark .rtsocial-vertical-count,
.rtsocial-container .fb-dark .rtsocial-horizontal-count { background: none repeat scroll 0 0 #D7D7D7; border: 1px solid #D7D7D7; }
.rtsocial-container .fb-dark .rtsocial-horizontal-notch { background-position: -137px -196px !important; }
.rtsocial-container .fb-dark .rtsocial-vertical-notch { background-position: -146px -197px !important }

/*Facebook Button Frontend Styles*/
.rtsocial-fb-button{ background-position: 0 -172px; display: block; height: 24px; width: 50px; text-indent: -9999px; text-transform: uppercase; margin: 0 auto;}
.rtsocial-fb-button:hover{ background-position: 0 -128px }

.rtsocial-fb-like-dark { background-position: 0 -260px }
.rtsocial-fb-like-dark:hover { background-position: 0 -216px }
.rtsocial-fb-recommend-light { background-position: 0 -436px; width: 95px; }
.rtsocial-fb-recommend-light:hover { background-position: 0 -392px }
.rtsocial-fb-recommend-dark { background-position: 0 -348px; width: 95px; }
.rtsocial-fb-recommend-dark:hover { background-position: 0 -304px }
.rtsocial-fb-share,
#rtsocial-ord-fb label { background-position: 0 -478px; width: 57px; }

#rtsocial-ord-fb label { display: block; height: 23px; text-indent: -9999px; }

.rtsocial-fb-share:hover,
#rtsocial-ord-fb label:hover{ background-position: 0 -478px; }

/*Twitter button styles frontend*/
.rtsocial-twitter-vertical-button { text-align: center; }
.rtsocial-twitter-button,
#rtsocial-ord-tw label { background-position: 0 -557px;  display: block; float: left; height: 21px; margin: 0; padding: 0; width: 58px; text-indent: -9999px; }

#rtsocial-ord-tw label{ float: none; display: inline-block; }

.rtsocial-twitter-button:hover,
#rtsocial-ord-tw label:hover { background-position: 0 -517px; }

/* Pinterest Button */
.rtsocial-pinterest-button,
#rtsocial-ord-pin label { background-position: 0 -598px; border: 1px solid #c9c5c5; border-color: #E8E4E4 #C9C5C5 #C9C5C5; border-radius: 4px 4px 4px 4px; display: block; height: 22px; text-indent: -9999px; text-transform: uppercase; width: 47px; margin: 0 auto; }

.rtsocial-pinterest-button:hover,
#rtsocial-ord-pin label:hover{ background-position: 0 -640px; border: 1px solid #B8B4B4; }

/* Linked In Button */
.rtsocial-linkedin-button,
#rtsocial-ord-lin label{ background-position: 0 -682px; border-color: #E2E2E2 #BFBFBF #B9B9B9; border-style: solid; border-width: 1px; border-radius: 2px; display: block; height: 18px; margin: 0 auto; text-indent: -9999px; text-transform: uppercase; width: 59px; }

.rtsocial-linkedin-button:hover,
#rtsocial-ord-lin label:hover{ background-position: 0 -720px; border-color: #ababab #9a9a9a #787878; }

/* G+ Share Button */
.rtsocial-gplus-button,
#rtsocial-ord-gplus label{ background-position: 0 -758px; display: block; height: 20px; width: 59px; text-indent: -9999px; }
#rtsocial-ord-gplus label{ display: inline-block; }
.rtsocial-gplus-button:hover,
#rtsocial-ord-gplus label:hover{ background-position: 0 -798px; }

#display_manual_th { vertical-align: middle }

#rtsocial-twitter { background-position: 0 -973px; display: block; float: left; height: 34px; overflow: hidden; width: 122px; }
#rtsocial-facebook { background-position: 0 -1029px; display: block; float: left; height: 34px; overflow: hidden; width: 122px; }
#rtsocial-pinterest { background-position: 0 -1007px; display: block; float: left; height: 34px; overflow: hidden; width: 122px; }
#rtsocial-linkedin { background-position: 0 -837px; display: block; height: 36px; width: 122px; float: left; overflow: hidden;}
#rtsocial-gplus { background-position: -4px -1062px; display: block; float: left; height: 37px; overflow: hidden; width: 119px; }

.fb_row input#rtsocial-like-light-input { float: left; margin: 6px 6px 0 0; }
#rtsocial-like-light { background-position: 0 -172px; display: block; height: 24px; width: 52px; float: left; }
#rtsocial-like-light:hover { background-position: 0 -128px; }

.fb_row input#rtsocial-like-dark-input { float: left; margin: 6px 6px 0 0; }

#rtsocial-like-dark { background-position: 0 -260px; display: block; height: 24px; width: 52px; float: left; }
#rtsocial-like-dark:hover { background-position: 0 -216px; }

.fb_row input#rtsocial-recommend-light-input { float: left; margin: 6px 6px 0 0; }

#rtsocial-recommend-light { background-position: 0 -436px; display: block; height: 24px; width: 97px; float: left; }
#rtsocial-recommend-light:hover { background-position: 0 -392px; }

.fb_row input#rtsocial-recommend-dark-input { float: left; margin: 6px 6px 0 0; }

#rtsocial-recommend-dark { background-position: 0 -348px; display: block; height: 24px; width: 97px; float: left; }
#rtsocial-recommend-dark:hover { background-position: 0 -304px; }
.fb_row input#rtsocial-share-input { float: left; margin: 6px 6px 0 0; }
#rtsocial-share-plain { background-position: 0 -478px; display: block; height: 20px; width: 59px; float: left; }
.rt_clear { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

.rt-social-connect { text-align: center; overflow: hidden; }
.rt-social-connect a { display: inline-block; font-size: 0; height: 32px; line-height: 0; overflow: hidden; text-indent: -9999px; text-transform: uppercase; width: 32px; }
.rt-social-connect a.rt-sidebar-facebook { background-position: -123px -52px; }
.rt-social-connect a.rt-sidebar-twitter { background-position: -121px 0; margin: 0 20px; }
.rt-social-connect a.rt-sidebar-rss { background-position: -123px -104px; }
#rtsocial-display-vertical-sample { overflow: hidden; float: left; }
#rtsocial-display-vertical-sample #rtsocial-twitter-vertical { float: left; overflow: hidden; display: block; }
#rtsocial-display-vertical-sample .rtsocial-vertical-count { float: left; }
#rtsocial-display-vertical-sample .rtsocial-twitter-vertical-button,
#rtsocial-display-vertical-sample .rtsocial-fb-vertical-button { float: left; clear: both; overflow: hidden; }

/* #rtsocial-pinterest{ background: url('../images/pinterest.png') no-repeat; height: 40px; width: 123px; display: block; }*/

/* Sorter Styles */
#rtsocial-sorter-container{ border: 1px solid #DFDFDF; overflow: hidden; text-align: center; width: 400px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

#rtsocial-sorter-active,
#rtsocial-sorter-inactive{ width: 100%; height: 35px; float: left; margin: 0; border: 1px solid #dfdfdf; background-color: #dfdfdf; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

#rtsocial-sorter-active li,
#rtsocial-sorter-inactive li{ float: left; margin: 0; padding: 5px; }

.placeholder { background-color: #fff; text-align:center; width:15%; height: 22px; }

.rtsocial-active,
.rtsocial-inactive{ background-color: #EEEEEE; font-weight: bold; margin: 0; padding: 3px; border-bottom: 1px solid #dfdfdf; }

#rtsocial-placement-settings-row .description{ padding-left: 20px; }
#rtsocial-placement-settings-row .description strong{ margin-left: 20px; }

#rtsocial-button-style-inner{ border-spacing: 0; }
#rtsocial-button-style-inner td { padding: 0 10px 10px 0; vertical-align: top; }

/*
*Icons style
*/
.rtsocial-twitter-icon-link,
.rtsocial-fb-icon-link,
.rtsocial-linkedin-icon-link,
.rtsocial-gplus-icon-link,
.rtsocial-pinterest-icon-link{ display: block; height: 24px; text-indent: -9999px; width: 24px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.rtsocial-twitter-icon-link{ background-position: -130px -484px; border: 1px solid #CFE3F0; }
.rtsocial-twitter-icon-link:hover{ border: 1px solid #AACDE4; }

.rtsocial-fb-icon-link{ background-position: -130px -310px; }

.rtsocial-pinterest-icon-link{ background-position: -130px -442px; }

.rtsocial-linkedin-icon-link{ background-position: -130px -398px; }

.rtsocial-gplus-icon-link{ background-position: -114px -222px; width: 40px; }
.rtsocial-gplus-icon-link:hover{ background-position: -114px -266px; }

/**
 * End of rtSocial Plugin Style
 */
